@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: #3F4655;
  --color-foreground: var(--foreground);
  --font-primary: var(--font-jetBrain-mono);
  --font-body: var(--font-space-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
}

h2{
  font-size: 24px;
}

@layer components { 
  h2 {
    @apply md:text-2xl text-xl font-bold ;
  }
}
